{% extends 'admin.twig' %}

{% block content %}
    <div
        vue-entry="VisitorGenerator.GeneratePage"
        site-name="{{ siteName|json_encode|e('html_attr') }}"
        days="{{ days|json_encode|e('html_attr') }}"
        nb-actions-total="{{ nbActionsTotal|json_encode|e('html_attr') }}"
        nb-requests-per-sec="{{ nbRequestsPerSec|json_encode|e('html_attr') }}"
        browser-archiving-enabled="{{ browserArchivingEnabled|json_encode|e('html_attr') }}"
        timer="{{ (timer ~ '')|json_encode|e('html_attr') }}"
    ></div>
{% endblock %}
