{% extends 'admin.twig' %}

{% set title %}{{ 'VisitorGenerator_VisitorGenerator'|translate }}{% endset %}

{% block topcontrols %}
    {% include "@CoreHome/_siteSelectHeader.twig" %}
{% endblock %}

{% block content %}
    <div
        vue-entry="VisitorGenerator.AdminPage"
        access-log-path="{{ accessLogPath|json_encode|e('html_attr') }}"
        id-site="{{ idSite|json_encode|e('html_attr') }}"
        count-min-actions-per-run="{{ countMinActionsPerRun|json_encode|e('html_attr') }}"
        form-nonce="{{ nonce|json_encode|e('html_attr') }}"
    ></div>
{% endblock %}
