{% extends 'admin.twig' %}

{% block content %}
    <h2>{{ 'VisitorGenerator_VisitorGenerator'|translate }}</h2>
    <p>{{ 'VisitorGenerator_PluginDescription'|translate }}</p>
    <p>{{ 'VisitorGenerator_OverwriteLogFile'|translate(accessLogPath) }}</p>
    <form method="POST" action="{{ linkTo({'module':'VisitorGenerator', 'action':'generate'}) }}">
        <table class="adminTable" style="width: 600px;">
            <tr>
                <td><label for="idSite">{{ 'General_ChooseWebsite'|translate }}</label></td>
                <td>
                    {% include "@CoreHome/_siteSelect.twig" with {
                    'showAllSitesItem':false,'showSelectedSite':true,'switchSiteOnSelect':false,'inputName':'idSite' } %}
                </td>
            </tr>
            <tr>
                <td><label for="daysToCompute">{{ 'VisitorGenerator_DaysToCompute'|translate }}</label></td>
                <td><input type="text" value="1" name="daysToCompute"/></td>
            </tr>
        </table>
        {{ 'VisitorGenerator_Warning'|translate }}<br/>
        {{ 'VisitorGenerator_NotReversible'|translate('<b>','</b>')|raw }}<br/><br/>

        <p><strong>{{ 'VisitorGenerator_GenerateFakeActions'|translate(countActionsPerRun) }}</strong><br/>
        </p>
        {{ 'VisitorGenerator_AreYouSure'|translate }}<br/><br/>
        <input type="checkbox" name="choice" id="choice" value="yes"/> <label for="choice">{{ 'VisitorGenerator_ChoiceYes'|translate }}</label>
        <br/>
        <input type="hidden" value="{{ token_auth }}" name="token_auth"/>
        <input type="hidden" value="{{ nonce }}" name="form_nonce"/>
        <br/>

        <p>{{ 'VisitorGenerator_PleaseBePatient'|translate }}<br/>
            {{ 'VisitorGenerator_LogImporterNote'|translate('<a href="https://github.com/piwik/piwik/tree/master/tests#testing-data">', '</a>')|raw }}</p>
        <br/>
        <input type="submit" value="{{ 'VisitorGenerator_Submit'|translate }}" name="submit" class="submit"/>
    </form>
{% endblock %}
