{% extends 'admin.twig' %}

{% block content %}
    <h2>{{ 'VisitorGenerator_VisitorGenerator'|translate }}</h2>
    <p>{{ 'VisitorGenerator_PluginDescription'|translate }}</p>
    <div id="advancedUsageInfo" style="margin-right: 50px;">
        {% set advancedUsageInfo %}
            {{ 'VisitorGenerator_CliToolUsage'|translate('<a rel="noreferrer"  target="_blank" href="http://developer.piwik.org/guides/piwik-on-the-command-line">', '</a>')|raw }}
            <br />
            <br />
            {{ 'VisitorGenerator_OverwriteLogFiles'|translate(accessLogPath) }}
        {% endset %}
    </div>
    {{ advancedUsageInfo|notification({'noclear': true, 'raw': true, 'context': 'info', 'placeat': '#advancedUsageInfo'}) }}

    <form method="POST" action="{{ linkTo({'module':'VisitorGenerator', 'action':'generate'}) }}">
        <table class="adminTable" style="width: 600px;">
            <tr>
                <td><label for="idSite">{{ 'General_ChooseWebsite'|translate }}</label></td>
                <td>
                    <div piwik-siteselector
                         class="sites_autocomplete"
                         show-selected-site="true"
                         switch-site-on-select="false"
                         name="idSite"></div>
                </td>
            </tr>
            <tr>
                <td style="padding-top: 10px;"><label for="daysToCompute">{{ 'VisitorGenerator_DaysToCompute'|translate }}</label></td>
                <td style="padding-top: 10px;"><input type="text" value="1" name="daysToCompute"/></td>
            </tr>
            <tr>
                <td style="padding-top: 10px;"><label for="customPiwikUrl">{{ 'VisitorGenerator_CustomPiwikUrl'|translate }}</label></td>
                <td style="padding-top: 10px;"><input type="text" value="{{ customPiwikUrl }}" name="customPiwikUrl"/></td>
            </tr>
        </table>

        <p><strong>{{ 'VisitorGenerator_GenerateFakeActions'|translate(countMinActionsPerRun) }}</strong><br/></p>

        {{ 'VisitorGenerator_AreYouSure'|translate }}<br/><br/>

        <div id="warning" style="margin-right: 50px;"></div>
        {% set warningIfSubmit %}
        {{ 'VisitorGenerator_Warning'|translate }}
        <br/>
        <br/>
        {{ 'VisitorGenerator_NotReversible'|translate('<b>','</b>')|raw }}<br/>
        {% endset %}

        <input type="checkbox" name="choice" id="choice" value="yes"/> <label for="choice">{{ 'VisitorGenerator_ChoiceYes'|translate }}</label>
        <br/>
        <input type="hidden" value="{{ token_auth }}" name="token_auth"/>
        <input type="hidden" value="{{ nonce }}" name="form_nonce"/>
        <br/>

        {{ warningIfSubmit|notification({'noclear': true, 'raw': true, 'context': 'warning', 'placeat': '#warning'}) }}

        <p>{{ 'VisitorGenerator_PleaseBePatient'|translate }}<br/>
            {{ 'VisitorGenerator_LogImporterNote'|translate('<a href="https://github.com/piwik/piwik/tree/master/tests#testing-data">', '</a>')|raw }}</p>

        <input type="submit" value="{{ 'VisitorGenerator_Submit'|translate }}" name="submit" class="submit"/>
    </form>
{% endblock %}
