{% extends 'admin.twig' %}

{% set title %}{{ 'VisitorGenerator_VisitorGenerator'|translate }}{% endset %}

{% block topcontrols %}
    {% include "@CoreHome/_siteSelectHeader.twig" %}
{% endblock %}

{% block content %}
    <h2>{{ title }}</h2>
    <p>{{ 'VisitorGenerator_PluginDescription'|translate }}</p>

    <div class="alert alert-info">
        {{ 'VisitorGenerator_CliToolUsage'|translate('<a rel="noreferrer"  target="_blank" href="http://developer.piwik.org/guides/piwik-on-the-command-line">', '</a>')|raw }}
        {{ 'VisitorGenerator_OverwriteLogFiles'|translate(accessLogPath) }}
    </div>

    <form method="POST" action="{{ linkTo({'module':'VisitorGenerator', 'action':'generate'}) }}">
        <input type="hidden" name="idSite" value="{{ idSite|e('html_attr') }}">
        <div class="form-group">
            <label for="daysToCompute">{{ 'VisitorGenerator_DaysToCompute'|translate }}</label>
            <input type="text" value="1" name="daysToCompute"/>
        </div>

        <p><strong>{{ 'VisitorGenerator_GenerateFakeActions'|translate(countMinActionsPerRun) }}</strong></p>

        <p>{{ 'VisitorGenerator_AreYouSure'|translate }}</p>

        <div class="alert alert-danger">
            {{ 'VisitorGenerator_Warning'|translate }}
            {{ 'VisitorGenerator_NotReversible'|translate('<strong>','</strong>')|raw }}
        </div>

        <div class="form-group">
            <label class="checkbox">
                <input type="checkbox" name="choice" value="yes"/>
                {{ 'VisitorGenerator_ChoiceYes'|translate }}
            </label>
        </div>

        <input type="hidden" value="{{ token_auth }}" name="token_auth"/>
        <input type="hidden" value="{{ nonce }}" name="form_nonce"/>

        <p>
            {{ 'VisitorGenerator_PleaseBePatient'|translate }}<br/>
            {{ 'VisitorGenerator_LogImporterNote'|translate('<a href="https://github.com/piwik/piwik/tree/master/tests#testing-data">', '</a>')|raw }}
        </p>

        <input type="submit" value="{{ 'VisitorGenerator_Submit'|translate }}" name="submit" class="submit"/>
    </form>
{% endblock %}
